{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="navbar">
        <nav>
            <div class="logo">
                <a href="#">Php SerIe</a>
            </div>

            <ul class="nav-links">
                <li><a href="#">Se connecter</a></li>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Séries</a></li>
                <li><a href="#">A propos de nous</a></li>
            </ul>
        </nav>
    
    </div>


{% endblock %}


