{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    
        <div class="container">
        {% for serie in series %}

            <a class="img_serie" href="{{ path("detailSerie", {id:serie.id} )}}"><img class="img_serie" src="{{asset('img/posters/series/'~serie.getPoster)}}" width="180px"></img></a>

        {% endfor %}
        </div>



{% endblock %}


